<DOCTYPE! css>

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
}

:root {
  --primary: rgb(118,179,198)
}

body {
  font-family: Avenir;
  padding: 0;
  margin: 0;
}

.app-container {
  padding-top: 50px;
}

.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  scroll-behavior: auto;
  font-weight: lighter;
  position: fixed;
  width: 100vw;
}


.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  scroll-behavior: auto;
  font-weight: lighter;
  position: fixed;
  width: 100vw;
}

.header li {
  float: left;
}

.header li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header li a:hover {
  background-color: white;
  font-weight: bold;
}

.header a:link {
  text-decoration: none ;
  color: black;
  font-weight: lighter;
  font-display: optional;
}

.menu {
  list-style-type: none;
}

.menu ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  scroll-behavior: auto;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  width: 100px;
}


.menu li a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu a:link {
  text-decoration: none ;
  color: black;
  font-weight: lighter;
  font-display: optional;
}

.menu li a:hover {
  background-color: white;
  font-weight: bold;
}

.img {
  display: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 100px;
  margin:0;
  padding-top: 0;


}

.img img {
  height: 300px;
  padding: 10px;
  margin: 0;
  display: inline;

}

h1 {
  text-align: left;
  font-weight: lighter;
  margin-left: 50px;
}

h3 {
  text-align: left;
  color: var(--primary);
  font-weight: lighter;
}


p {
  text-align: left;
  color: black ;
  margin: 0;
}

.title {
  color: var(--primary) ;
}

.container {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.text {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: row;
}

.date{
  display: flex;
  flex-direction: row;
  width: 100px;
}

.description {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
}

.description p:nth-child(2) {
  font-style: italic;
  font-weight: lighter;
}
